body {
  font-family: Tsukushi A Round Gothic;
  font-size: 16px; }

a {
  padding-right: 20px;
  color: #337ab7; }
  a:hover {
    color: orange; }

table {
  text-align: center;
  border: none; }

th {
  text-align: center;
  background-color: white; }

.ponderingText {
  font-style: italic;
  color: #A9A9A9; }

.errorMessages {
  font-size: 1.5em;
  color: red;
  text-align: center; }

.main-content {
  min-height: 320px;
  padding-bottom: 10px; }
  @media (min-width: 660px) {
    .main-content {
      min-height: 560px; } }

.logo {
  display: block;
  margin: 0 auto;
  max-height: 280px;
  max-width: 130px;
  padding-bottom: 20px;
  padding-top: 40px; }

.logoText {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px; }

/* style for login form fields */
.loginForm {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center; }

.ideaForm {
  display: flex;
  align-items: center;
  display: block;
  margin: auto;
  max-width: 660px; }

.widthLoginForm {
  display: flex;
  align-items: center;
  display: block;
  margin: auto;
  max-width: 220px; }

.tcCheckbox {
  padding-bottom: 10px; }

.tc {
  cursor: pointer;
  font-size: 0.875em; }
  .tc:hover {
    color: orange; }

.what {
  cursor: pointer;
  color: #337ab7;
  font-size: 0.875em; }
  .what:hover {
    color: orange; }

.loginLink {
  padding-right: 0; }

.buttonLogoff {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer; }
  .buttonLogoff:hover {
    color: orange; }

.close-btn {
  font-style: italic; }

.what {
  cursor: pointer;
  color: #337ab7;
  font-size: 0.875em; }
  .what:hover {
    color: orange; }

.tables {
  text-align: center;
  border-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto; }
  .tables tr {
    background-color: #F0F8FF; }
    .tables tr:nth-child(2n) {
      background-color: #deeff5; }
  .tables td {
    padding-top: 15px;
    padding-bottom: 15px; }

.requestTable td {
  min-width: 155px; }
  @media (min-width: 660px) {
    .requestTable td {
      min-width: 320px; } }

/* Popup style for 'What is this?' and Terms and Conditions */
.popup .popuptext {
  width: 350px;
  max-height: content;
  position: fixed;
  margin: 0 auto;
  background-color: #555;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  top: 50%;
  left: 50%;
  margin: -165px 0 0 -170px;
  /* [-(height/2)px 0 0 -(width/2)px] */
  display: none;
  cursor: pointer;
  font-size: 0.875em; }

.popup .show {
  visibility: visible; }

/* Popup overlay link for 'what is this?' */
.whatPop {
  text-align: center; }

.foot {
  padding: 10px;
  background: #ededed;
  text-align: center; }
  @media (min-width: 660px) {
    .foot {
      height: 150px; } }

.tandcLink {
  padding: 10px; }

.top {
  /* padding-bottom: $base-padding * 2; */
  background-color: #ededed; }

.top-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto; }
  @media (min-width: 660px) {
    .top-links {
      width: 660px; } }

.login {
  text-align: right; }

.links a {
  padding: 10px;
  display: inline-block; }
  @media (min-width: 660px) {
    .links a {
      padding: 20px; } }

/*# sourceMappingURL=style.css.map */
