
.foot {  
    padding-top: $base-padding / 2;
    background: $background-grey;
    text-align: center; 
    @media (min-width: #{$break-tablet}) {
        height: 150px;
    }   
}

.tandcLink {
    padding: $base-padding / 2;
}
