/* style for login form fields */
.loginForm {
    padding-top: $base-padding * 2;
    padding-bottom: $base-padding * 2;
    text-align: center;
}

.loginLink {
    padding-right: 0;
}

.ideaForm {
    display: flex;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 660px;
}

.widthLoginForm {
    display: flex;
    align-items: center;
    display: block;
    margin: auto;
    max-width: 220px;
}

.tcCheckbox {
    padding-bottom: $base-padding / 2;
}

// what is this link
.what {
    cursor: pointer;
    color: $link-color;
    font-size: 0.875em; 
    &:hover {
        color: $link-hover-color;
    }
}