
.logo {
    display: block;
    margin: 0 auto;
    max-height: 280px;
    max-width: 130px;
    padding-bottom: $base-padding;
    padding-top: $base-padding * 2;
}

.logoText {
    display: block;
    margin: 0 auto;
    padding-bottom: $base-padding * 2;
}
