/* Popup style for 'What is this?' and Terms and Conditions */
.popup .popuptext {
    width: 350px;
    max-height: content;
    position: fixed; 
    margin: 0 auto;
    background-color: #555; 
    color: #fff;
    padding: $base-padding / 2;
    border-radius: 6px;
    top: 50%; 
    left: 50%; 
    margin: -165px 0 0 -170px; /* [-(height/2)px 0 0 -(width/2)px] */
    display: none; 
    cursor: pointer;
    font-size: 0.875em; 
}


.popup .show {
    visibility: visible;
} 

/* Popup overlay link for 'what is this?' */
.whatPop {
    text-align: center;
}
