
.requestTable {
    text-align: center;
    border-color: black; 
    padding-top: $base-padding * 2;
    padding-bottom: $base-padding * 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    tr {
        background-color: #F0F8FF;
        &:nth-child(2n) {
            background-color: #deeff5;
        }
    }
    
    td {
        padding-top: $base-padding - 5;
        padding-bottom: $base-padding - 5;
        min-width: 155px;
        @media (min-width: #{$break-tablet}) {
            min-width: 320px;
        }
    }
}