body {
    font-family: Tsukushi A Round Gothic;
    font-size: $base-font;
}

a {
    padding-right: $base-padding;
    color: $link-color;    
    &:hover {
        color: $link-hover-color;
    }
}

table {
    text-align: center;
    border: none; 
}

th {
    text-align: center;
    background-color: white;
}

td {
    padding-top: $base-padding - 5;
    padding-bottom: $base-padding - 5;
    min-width: 150px;
    @media (min-width: #{$break-tablet}) {
        min-width: 320px;
    }
}
